/*
this document has been created with Marked.app <http://marked2app.com>
please leave this notice in place, along with any additional credits below.
---------------------------------------------------------------
title: Simplex
author: Brett Terpstra <http://brettterpstra.com>
description: Lifted from http://bootswatch.com/ [https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE]
*/

#cont {
    margin-left: max(10px, 10vw);
    margin-right: max(10px, 10vw);
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 300;
    src: local("Josefin Sans Light"), local("JosefinSans-Light"), url(https://themes.googleusercontent.com/static/fonts/josefinsans/v4/C6HYlRF50SGJq1XyXj04z2B7wJ9CoPCp9n30ZBThZ1I.woff) format("woff");
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: local("Josefin Sans"), local("JosefinSans"), url(https://themes.googleusercontent.com/static/fonts/josefinsans/v4/xgzbb53t8j-Mo-vYa23n5qRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}

@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: local("Josefin Sans Bold"), local("JosefinSans-Bold"), url(https://themes.googleusercontent.com/static/fonts/josefinsans/v4/C6HYlRF50SGJq1XyXj04zxAPw1J91axKNXP_-QX9CC8.woff) format("woff");
}

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
#cont article,
#cont aside,
#cont details,
#cont figcaption,
#cont figure,
#cont footer,
#cont header,
#cont hgroup,
#cont main,
#cont nav,
#cont section,
#cont summary {
    display: block;
}

#cont audio,
#cont canvas,
#cont video {
    display: inline-block;
}

#cont audio:not([controls]) {
    display: none;
    height: 0;
}

#cont [hidden],
#cont template {
    display: none;
}

#cont html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

#cont body {
    margin: 0;
}

#cont a {
    background: transparent;
}

#cont a:focus {
    outline: thin dotted;
}

#cont a:active,
#cont a:hover {
    outline: 0;
}

#cont h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

#cont abbr[title] {
    border-bottom: 1px dotted;
}

#cont b,
#cont strong {
    font-weight: bold;
}

#cont dfn {
    font-style: italic;
}

#cont hr {
    height: 0;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

#cont mark {
    color: #000;
    background: #ff0;
}

#cont code,
#cont kbd,
#cont pre,
#cont samp {
    font-family: monospace, serif;
    font-size: 1em;
}

#cont pre {
    white-space: pre-wrap;
}

#cont q {
    quotes: '\201C' '\201D' '\2018' '\2019';
}

#cont small {
    font-size: 80%;
}

#cont sub {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

#cont sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
    top: -0.5em;
}

#cont sub {
    bottom: -0.25em;
}

#cont img {
    border: 0;
}

#cont svg:not(:root) {
    overflow: hidden;
}

#cont figure {
    margin: 0;
}

#cont fieldset {
    padding: 0.35em 0.625em 0.75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

#cont legend {
    padding: 0;
    border: 0;
}

#cont button,
#cont input,
#cont select,
#cont textarea {
    margin: 0;
    font-family: inherit;
    font-size: 100%;
}

#cont button,
#cont input {
    line-height: normal;
}

#cont button,
#cont select {
    text-transform: none;
}

#cont button,
#cont html input[type='button'] {
    cursor: pointer;
    -webkit-appearance: button;
}

#cont input[type='reset'],
#cont input[type='submit'] {
    cursor: pointer;
    -webkit-appearance: button;
}

#cont button[disabled],
#cont html input[disabled] {
    cursor: default;
}

#cont input[type='checkbox'],
#cont input[type='radio'] {
    padding: 0;
    box-sizing: border-box;
}

#cont input[type='search'] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}

#cont input[type='search']::-webkit-search-cancel-button,
#cont input[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

#cont button::-moz-focus-inner,
#cont input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

#cont textarea {
    overflow: auto;
    vertical-align: top;
}

#cont table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media print {
    * {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a {
        text-decoration: underline;
    }

    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^='javascript:']:after,
    a[href^='#']:after {
        content: '';
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr {
        page-break-inside: avoid;
    }

    img {
        page-break-inside: avoid;
        max-width: 100% !important;
    }

    @page {
        margin: 2cm .5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    select {
        background: #fff !important;
    }

    .navbar {
        display: none;
    }

    .table td,
    .table th {
        background-color: #fff !important;
    }

    .btn>.caret,
    .dropup>.btn>.caret {
        border-top-color: #000 !important;
    }

    .label {
        border: 1px solid #000;
    }

    .table {
        border-collapse: collapse !important;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #ddd !important;
    }
}

#cont * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cont *:before,
#cont *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cont html {
    font-size: 100%;
    -webkit-tap-highlight-color: transparent;
}

#cont body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333333;
    background-color: #f7f7f7;
}

#cont body.inverted {
    color: #eee;
    background-color: #222;
}

#cont input,
#cont button,
#cont select,
#cont textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#cont a {
    color: #d9230f;
    text-decoration: none;
}

#cont a:hover {
    color: #91170a;
    text-decoration: underline;
}

#cont a:focus {
    color: #91170a;
    text-decoration: underline;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#cont img {
    vertical-align: middle;
}

#cont .img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

#cont .img-rounded {
    border-radius: 6px;
}

#cont .img-thumbnail {
    display: inline-block;
    height: auto;
    max-width: 100%;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#cont .img-circle {
    border-radius: 50%;
}

#cont hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
    border-top: 1px solid #eeeeee;
}

#cont .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#cont h1,
#cont h2,
#cont h3,
#cont h4,
#cont h5,
#cont h6,
#cont .h1,
#cont .h2,
#cont .h3,
#cont .h4,
#cont .h5,
#cont .h6 {
    font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

#cont h1 small,
#cont h2 small,
#cont h3 small,
#cont h4 small,
#cont h5 small,
#cont h6 small,
#cont .h1 small,
#cont .h2 small,
#cont .h3 small,
#cont .h4 small,
#cont .h5 small,
#cont .h6 small,
#cont h1 .small,
#cont h2 .small,
#cont h3 .small,
#cont h4 .small,
#cont h5 .small,
#cont h6 .small,
#cont .h1 .small,
#cont .h2 .small,
#cont .h3 .small,
#cont .h4 .small,
#cont .h5 .small,
#cont .h6 .small {
    font-weight: normal;
    line-height: 1;
    color: #999999;
}

#cont h1,
#cont h2,
#cont h3 {
    margin-top: 18px;
    margin-bottom: 9px;
}

#cont h1 small,
#cont h2 small,
#cont h3 small,
#cont h1 .small,
#cont h2 .small,
#cont h3 .small {
    font-size: 65%;
}

#cont h4,
#cont h5,
#cont h6 {
    margin-top: 9px;
    margin-bottom: 9px;
}

#cont h4 small,
#cont h5 small,
#cont h6 small,
#cont h4 .small,
#cont h5 .small,
#cont h6 .small {
    font-size: 75%;
}

#cont h1,
#cont .h1 {
    font-size: 33px;
}

#cont h2,
#cont .h2 {
    font-size: 27px;
}

#cont h3,
#cont .h3 {
    font-size: 23px;
}

#cont h4,
#cont .h4 {
    font-size: 17px;
}

#cont h5,
#cont .h5 {
    font-size: 13px;
}

#cont h6,
#cont .h6 {
    font-size: 12px;
}

#cont p {
    margin: 0 0 9px;
}

#cont .lead {
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .lead {
        font-size: 19.5px;
    }
}

#cont small,
#cont .small {
    font-size: 85%;
}

#cont cite {
    font-style: normal;
}

#cont dl {
    margin-top: 0;
    margin-bottom: 18px;
}

#cont dt,
#cont dd {
    line-height: 1.428571429;
}

#cont dt {
    font-weight: bold;
}

#cont dd {
    margin-left: 0;
}

#cont abbr[title],
#cont abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #999999;
}

#cont .initialism {
    font-size: 90%;
    text-transform: uppercase;
}

#cont blockquote {
    padding: 9px 18px;
    margin: 0 0 18px;
    border-left: 5px solid #eeeeee;
}

#cont blockquote p {
    font-size: 16.25px;
    font-weight: 300;
    line-height: 1.25;
}

#cont blockquote p:last-child {
    margin-bottom: 0;
}

#cont blockquote small,
#cont blockquote .small {
    display: block;
    line-height: 1.428571429;
    color: #999999;
}

#cont blockquote small:before,
#cont blockquote .small:before {
    content: '\2014 \00A0';
}

#cont blockquote.pull-right {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eeeeee;
    border-left: 0;
}

#cont blockquote.pull-right p,
#cont blockquote.pull-right small,
#cont blockquote.pull-right .small {
    text-align: right;
}

#cont blockquote.pull-right small:before,
#cont blockquote.pull-right .small:before {
    content: '';
}

#cont blockquote.pull-right small:after,
#cont blockquote.pull-right .small:after {
    content: '\00A0 \2014';
}

#cont blockquote:before,
#cont blockquote:after {
    content: '';
}

#cont address {
    margin-bottom: 18px;
    font-style: normal;
    line-height: 1.428571429;
}

#cont code,
#cont kbd,
#cont pre,
#cont samp {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#cont code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    white-space: nowrap;
    background-color: #f9f2f4;
    border-radius: 4px;
}

#cont pre {
    display: block;
    padding: 8.5px;
    margin: 0 0 9px;
    font-size: 12px;
    line-height: 1.428571429;
    color: #333333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

#cont pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}

#cont fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

#cont legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 18px;
    font-size: 19.5px;
    line-height: inherit;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

#cont label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

#cont input[type='search'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#cont input[type='radio'],
#cont input[type='checkbox'] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    /* IE8-9 */
    line-height: normal;
}

#cont input[type='file'] {
    display: block;
}

#cont select[multiple],
#cont select[size] {
    height: auto;
}

#cont select optgroup {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
}

#cont input[type='file']:focus,
#cont input[type='radio']:focus,
#cont input[type='checkbox']:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

#cont input[type='number']::-webkit-outer-spin-button,
#cont input[type='number']::-webkit-inner-spin-button {
    height: auto;
}

#cont output {
    display: block;
    padding-top: 9px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333333;
    vertical-align: middle;
}